<div id = "about" class="about-us">
  <div class="about-us-item">

    <div class="row">
      <div class=" col-6">
        <div class="row">
          <div class="col-12">
            <div class="card">

                <img style="height :325px" src="/images/yk.png" alt="">

            </div>

          </div>
          <div class="misson col-12">
            <div class="card-1">
              <div class="card-body">
                <h2 class="card-title">OUR MISSION</h2>
                <hr>
                <p class="card-text">
                  We are <i>dedicated</i> to the <i>highest quality customer service</i> you deserve
                  <br><br>
                  <i>Building trust and reliability</i> in our unparalled <i>workmanship</i> is our utmost priority at RIMSSG</b>



                  </p>

              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="col-12">
          <div class="card-1">
            <div class="card-body">
              <h2 class="card-title">ABOUT US</h2>
              <hr>
              <p class="card-text">
                <b>Welcome dear brothers!</b>
                <br><br>We are the rims spray duo
                who takes <i>pride and integrity</i> in delivering only the <i>best your car deserves</i>


            </div>
          </div>
        </div>

        <div class="misson col-12">
          <div class="card">
            <img style="height :305px"style="width:px" src="/images/gilbert.png" alt="">
          </div>

        </div>

      </div>

    </div>

  </div>
</div>

<!-------------------------------------------     parallax     --------------------------------------------------->
<!-------------------------------------------     parallax     --------------------------------------------------->
<div class="parallax">
  <div class="mask-1"></div>
  <div class="parallax-text">
    <h2 class="parallax-text-1">Our Project Experiences</h2>
    <hr>
  </div>
</div>

<!-------------------------------------------     Projects    --------------------------------------------------->
<!-------------------------------------------     Projects    --------------------------------------------------->
<div class="projects">
  <div class="project-items">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4 img1">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 img2">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 img3">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 img4">
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 img5">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 img6">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 img7">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 img8">
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 img9">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 img10">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 img11">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 img12">
      </div>
    </div>
  </div>
</div>

<!-------------------------------------------     parallax     --------------------------------------------------->
<!-------------------------------------------     parallax     --------------------------------------------------->
<div class="parallax2">
  <div class="mask"></div>
  <div class="parallax-text2">
    <h2> How Can We Help You</h2>
    <div class="row">
      <div class="vl col-4">
        <div class="row">
          <div class="col-10">
            <h3><b>Step 1</b></h3>
            <br>
            <p> Determine your <b>rim size</b> and have an idea of your <b>colour of interest </b></p>
              <p> Our location : Seletar mall area </p>


          </div>
          <div class="col-2 service-arrow">

          </div>
        </div>
      </div>

      <div class="vl col-4">
        <div class="row">
          <div class="col-10">
            <h3><b>Step 2</b></h3>
            <br>
            <p>Decide if you would like to engage our <b>doorstep service</b> at your <b>convenience</b> </p>
            <p>(Transport fee range $15-30)</p>
          </div>
          <div class="col-2 service-arrow">

          </div>
        </div>
      </div>

      <div class="vl col-4">
        <div class="row">
          <div class="col-10">
            <h3><b>Step 3</b></h3>
            <br>
            <p>Contact us and we will consult with you as soon as possible to arrange an appointment</p>
            <br>
            <a href="https://api.whatsapp.com/send?phone=6592981393" class="btn btn-dark"" href="#" role="button">Book appointment</a>
          </div>
          <div class="col-2 service-arrow">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-------------------------------------------     review    --------------------------------------------------->
<!-------------------------------------------     review    --------------------------------------------------->
<div class="review">
  <div class="review-content">
    <h2>WHAT ARE CLIENTS SAYING ABOUT US</h2>
    <hr>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="card card2">
          <div class="row">
            <div class="col-4">
              <img class="review-img" src="/images/Review-1.png" alt="">
            </div>
            <div class="col-8">
              <div class="row">
                <div class="card2-item">


                  <div class="col-12">
                    <h5><b>@blackhen</b></h5>
                    <div class="col-12">
                      <img style="width: 15px" src="https://image.flaticon.com/icons/svg/616/616489.svg">
                      <img style="width: 15px" src="https://image.flaticon.com/icons/svg/616/616489.svg">
                      <img style="width: 15px" src="https://image.flaticon.com/icons/svg/616/616489.svg">
                      <img style="width: 15px" src="https://image.flaticon.com/icons/svg/616/616489.svg">
                      <img style="width: 15px" src="https://image.flaticon.com/icons/svg/616/616489.svg">
                    </div>
                    <p>"My best decision so far in choosing them to spray my rims over the others. Meticulous work on the rims with great attitude, making sure that I understand every step of the spray process. <br><br>If you ask me, I would recommend you spend a few dollars more to get things right the first time with them" </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="card card2">
          <div class="row">
            <div class="col-4">
              <img class="review-img" src="/images/Review-2.png" alt="">
            </div>
            <div class="col-8">
              <div class="row">
                <div class="card2-item">


                  <div class="col-12">
                    <h5><b>@kevin._ng</b></h5>
                    <div class="col-12">
                      <img style="width: 15px" src="https://image.flaticon.com/icons/svg/616/616489.svg">
                      <img style="width: 15px" src="https://image.flaticon.com/icons/svg/616/616489.svg">
                      <img style="width: 15px" src="https://image.flaticon.com/icons/svg/616/616489.svg">
                      <img style="width: 15px" src="https://image.flaticon.com/icons/svg/616/616489.svg">
                      <img style="width: 15px" src="https://image.flaticon.com/icons/svg/616/616489.svg">
                    </div>
                    <p>"The duo was brilliant. The job was well done and very professional! They were very detailed to explain the different coats and how to go about protecting the sprayed rims! <br><br> Highly recommended if you guys are looking for a brilliant duo, who boasts of hard work and sheer passion in what they do"  </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="card card2">
          <div class="row">
            <div class="col-4">
              <img class="review-img" src="/images/Review-3.png" alt="">
            </div>
            <div class="col-8">
              <div class="row">
                <div class="card2-item">


                  <div class="col-12">
                    <h5><b>@watchmesell</b></h5>
                    <div class="col-12">
                      <img style="width: 15px" src="https://image.flaticon.com/icons/svg/616/616489.svg">
                      <img style="width: 15px" src="https://image.flaticon.com/icons/svg/616/616489.svg">
                      <img style="width: 15px" src="https://image.flaticon.com/icons/svg/616/616489.svg">
                      <img style="width: 15px" src="https://image.flaticon.com/icons/svg/616/616489.svg">
                      <img style="width: 15px" src="https://image.flaticon.com/icons/svg/616/616489.svg">
                    </div>
                    <p>"These duo are one of the most brilliant and passionate young men. They take huge pride in their work and do not compromise quality, being extremely meticulous in the preparation work. <br><br>There is full transparency of the work being done. It is also really fast and they deliver the job within an expected time. Engage them with full confidence!" </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>

  </div>
</div>



<!-------------------------------------------     contact us     --------------------------------------------------->
<!-------------------------------------------     contact us      --------------------------------------------------->

<div id="contact" class="Contact-us">
  <div class="Contact-us-item">
    <h2>Contact Us</h2>
    <div class="row">
      <div class="col-3">
        <div class="row">
          <div class="col-12">
            <img class = "contact-img" src="https://image.flaticon.com/icons/svg/732/732200.svg">
            <h4>Email</h4>
            <a href="mailto:lycanchangyongkeen@gmail.com" class="btn btn-dark"" href="#" role="button">Email us</a>
          </div>
          <div class="col-12">
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="row">
          <div class="col-12">
            <img class = "contact-img" src="https://image.flaticon.com/icons/svg/1384/1384055.svg">
            <h4>WhatsApp</h4>
            <a href="https://api.whatsapp.com/send?phone=6592981393"class="btn btn-dark"" href="#" role="button">WhatsApp us</a>
          </div>
          <div class="col-12">
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="row">
          <div class="col-12">
            <img class = "contact-img-1" src="/images/carousell.png">
            <h4>Carousell</h4>
            <a href="https://sg.carousell.com/rimsonly/reviews/?filter=1&sort=newest" class="btn btn-dark"" href="#" role="button">More reviews</a>
          </div>
          <div class="col-12">
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="row">
          <div class="col-12">
            <img class = "contact-img" src="/images/instagram.png">
            <h4>Instagram</h4>
            <a href="https://www.instagram.com/rimsonly/" class="btn btn-dark"" href="#" role="button">Visit us</a>

          </div>
          <div class="col-12">
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
